*{margin:0; padding:0; box-sizing:border-box;}

body{font-family:verdana; font-size: 1.5rem;}

.container{padding: 40px 100px;}

header, footer{background-color: #303030; color: #f5f5f5; text-align: center; height: 40px; padding-top: 3px}

footer{position: absolute; left: 0; right: 0; bottom: 0;}

input{height:30px; margin-bottom: 20px; padding: 0 20px;}